<!--<div class="jumbotron">-->
  <!--<h1>YOUR READING LIST </h1>-->
  <!--<ul id="messages" ng-show="messages.length">-->
    <!--<li ng-repeat="message in messages | reverse">{{message.volumeInfo.title}}</li>-->
  <!--</ul>-->
<!--</div>-->
<section class="container">
  <h4> Your Reading list</h4>
  <div class=row>
  <div class="col-md-12">
  <div class="row"><div class="col-md-12">
    <ul class="media-list">
  <li class="media" ng-repeat="book in messages">
    <div class="media-left"><a ng-href="{{book.volumeInfo.infoLink}}">
      <img class="media-object" ng-src={{book.volumeInfo.imageLinks.thumbnail}} alt="Book Cover"></a></div>
    <div class="media-body"><h4 class="media-heading">{{book.volumeInfo.title}}</h4><h5>{{book.volumeInfo.authors.join(", ")}}</h5>
      <p ng-show="book.accessInfo.isTTSE" class="text-success center-block">Text-To-Speech is Enabled</p>
      <p ng-show="!book.accessInfo.isTTSE" class="text-danger center-block">Text-To-Speech Not Enabled</p>
      <p>Average Rating: <span class="rating">{{book.volumeInfo.averageRating}}</span></p>
      <button type="submit" ng-click="messages.$remove(book)">Remove from the read list </button>
      <p>{{book.volumeInfo.description}}</p></div></li></ul>
    </div>
  </div>
    </div>
    </div>
</section>

